

App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html, body { height: 100%; width: 100%; margin: 0; background-image: project-12-code_with_friends/Images/background.jpg}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

*:focus {outline:none}


.signin {
  background-color: rgb(0, 136, 204,.5);
  width: 100%;
}

#Compile {
  margin-left: 7%;
}

#sign_in {
  width: 100%;
  height: 150px;
  border: 0px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}


.button {
  height: 20px;
  width: 100px;
}

#navbar {
  border-bottom: solid black 1px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #007BFF;
  height: 40px;
  text-align: right;
}

.title {
  font-size: 5em;
}

#navbar button {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  position: relative;
  display: inline-block;
  background-color:rgba(0,0,0,0);
  color: #ffffff;
  margin-right: 1.5%;
  height: 40px;
  font-size: 1.3em;
  cursor: pointer;
  padding: 0;
  border: none;
}

#navbar button:hover {
  color: white;
}

#navbar button:focus {
  outline: none;
}

#welcome {
  float: top;
  margin-top: 200px;
  font-size: 5em;
  width:100%;
  text-align: center;
  background-image: project-12-code_with_friends/Images/background.jpg;
}

#registration {
  float: top;
  width: 30%;
  height: 350px;
  margin: 150px auto 0px auto;
  border-style: solid;
  border-width: 0px;
  border-radius: 2%;
  border-color: #797979;
  background-color: #eaf9ff;
  border: solid 1px #99e6ff;
  background-image: project-12-code_with_friends/Images/background.jpg;
}

#registration .userpass {
  margin: 0 auto;
  width: 80%;
}

#dropdown-basic-button {
  width: 110px;
  float: right;
  height: 29px;
  margin: 0;
  padding: 0 10px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 0px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 0px;
  border-left: 1px solid #ccccff;
  border-right: 1px solid black;
  border-top: none;
  border-bottom: none;

  background-color: white;
  color: black;
}

#registration .successtext {
  text-align: center;
  color: green;
}

#registration input {
  display: block;
  width: 80%;
  height: 20px;
  font-size: 1.2em;
  margin: 0 auto;
}

#registration button {
  display: block;
  width: 80%;
  height: 50px;
  margin: 0 auto;
}

#login {
  float: top;
  width: 30%;
  height: 350px;
  margin: 150px auto 0px auto;
  background-color: #eaf9ff;
  border: solid 1px #99e6ff;
  border-radius: 2%;
}

#EditorProblem {
  margin: 25px auto 25px auto;
  width: 30%;
  border-width: 1px;
  border-color: #797979;
  border-style: solid;
  border-radius: 1%;
  padding: 10px;

}

#EditorProblemTitle {
  margin-left: 2.5%;
}

#type_difficulty {
  margin-top: 20px;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

#EditorProblemType {
  margin-right: 5%;
}

#EditorProblem2 {
  top: 40px;
  left: 0;
  height: 100%;
  width: 30%;
  position: fixed;
  float: top;
}

#TextField_And_Button2 {
  top: 70px;
  right: 0;
  width: 70%;
  height: calc(100% - 70px);
  position: absolute;
  float: top;
  border-left: 1px solid #ccccff;
}

#login p {
  margin: 0 auto;
  width: 80%;
}

#login input {
  display: block;
  width: 80%;
  height: 20px;
  font-size: 1.2em;
  margin: 0 auto;
}

#login button {
  display: block;
  width: 80%;
  height: 50px;
  margin: 0 auto;
}

.failtext {
  color: red;
}

#test {
  margin-top:250px;
  z-index: 2;
}

#problist {
  margin: 200px auto 0px auto;
  float: top;
  border: solid;
  border-width: 5px;
  position: absolute;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.ProblemList {
  border-style: solid;
  border-color: #007399;
  border-width: 0px;
  margin: 75px auto 0px auto;
  width: 90%;
  padding: 10px;
}

.prob_desc {
  text-align: left;
  list-style-type: none;
}

#TextField_And_Button {
  position: relative;
  margin: 0px auto 0px auto;
  height: 85vh;
  width: 40%;
}

#Friends {
  position: sticky;
  display: block;
  border-style: solid;
  border-color: #007399;
  border-width: 1px;
  top: 75px;
  padding: 5px;
  width: 15%;
  height: 70%;
  background-color: #ffe5e5;
  text-align: center;
}

#AddFriend {
  margin: 100px auto 0px auto;
  height: 10vh;
  width: 40%;
  background-color: #eafff5;
}

#Languages {
  border-bottom: 1px solid #ccccff;
  width: 100%;
  height: 30px;
  background-color: #f8f8ff;
  float: right;
}

#newLanguages {
  border-bottom: 1px solid #ccccff;
  width: 70%;
  left: 30%;
  background-color: #f8f8ff;
  position: fixed;
  top: 40px;
  border-left: 1px solid #ccccff;
}

.LanguageButton {
  width: 33.333333333333333333333%;
  height: 100%;
  font-weight: bold;
  background-color: #e0e0eb;
}

#OutputField {
  overflow-y: auto;
  display: block;
  height: 30%;
  width: 100%;
  padding: 5px 5px 5px 5px;
  background-color: #f8f8ff;
  color: #33334d;
  border-top: 1px solid #ccccff;
}

#OutputArea {
  display: block;
  height: 30%;
  width: 100%;
  border-top: 1px solid #ccccff;
}

#OutputLine {
  padding-left: 5px;
  display: block;
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #ccccff;
}

#OutputText {
  overflow-y: auto;
  display: block;
  height: calc(100% - 30px);
  width: 100%;
}

#TextField {
  overflow-y: auto;
  padding: 5px 5px 5px 5px;
  width: 100%;
  height: 70%;
  background-color: #eafff5;
  color: #000000;
  font-family: Inconsolata, Monaco, Consalas, 'Couriew New', Courier;
}

#Run_Button {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  width: 110px;
  height: 30px;
  margin: 0;
  padding: 0 10px;
  height: 29px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 0px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 0px;  
}

#friendRequests {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.friendRequest{
  border: solid;
  border-color: black;
  display: block;
  margin: 2px 0px 2px 0px;
}

.Friend{
  border: solid;
  border-color: black;
  display: block;
  margin: 2px 0px 2px 0px;
}

.choiceButton {
  float: right;
}

.Friend .Invite {
  float: right;
}

.prob_user {
  display: block;
  color: #007BFF;
}

#customers {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #eafff5;}

#customers tr:hover {background-color: #eee;}

#customers th {
  padding-top: 50px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.leaderboard {
  cursor: pointer;
  color: #007BFF;
}

.leaderboard:hover {
  text-shadow: 1px 1px 1px #ccc;
  text-decoration: underline;
}

.one_problem {
  display: block;
  border: 0px solid red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

